@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #fdc435;
    --secondary: #b48000;
    --black: #171717;
    --blackSecondary: #171717e5;
    --text: #14001c;
    --background: #fcfcfc;
    --backgroundSecondary: #efefef;
    --gradient-start: #fdc435;
    --gradient-end: #f79659;
}

body {
    background: var(--background);
    font-family: Inter, sans-serif;
    color: var(--text);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    .bg-background {
        background-color: var(--background);
    }
    .bg-gradient-custom {
        background: linear-gradient(var(--gradient-start), var(--gradient-end));
    }
}
